<html>
  <head>
    <!-- <link rel="stylesheet" href="/css/materialize.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="/js/materialize.min.js"></script> -->
  </head>
  <body>
    <div class="container">
      <h1>Selamat datang, <%= title %></h1>
      <a href="/driver" class="waves-effect waves-light btn">Data Driver</a>
      <a href="/tarif" class="waves-effect waves-light btn">Data Tarif</a>
      <a href="/transportasi" class="waves-effect waves-light btn"
        >Data Transportasi</a
      >

      <h5>TEST</h5>
    </div>
  </body>
</html>
